/* --------------- GLOBAL ---------- */
body {
  font-family: Helvetica;
  color: #555;
 /* background: #C1F8F8;*/

}

.container { 
   /* background: #80c3be; - why is my container not all encompassing?*/
    margin: 0px auto;
    height: 100%;
    width: 750px;
    padding: 80px 0px;
    font-family: Georgia, serif;
    position: relative;
}

.nav-bar {
  width: 100%;
  height: 64px;
  background-color: #009D91;  
  float: left;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 0px 8px 0px #000000;
}

.nav-bar a {
  color: white;
  font-size: 20pt;
  padding: 40px;
  position: relative;
  top: 13px;
  text-decoration: none;

}

.nav-bar a:hover {
  color: #33CEC3;
}

/* ------------------------ LOGINSIGNUP -------------------- */
.login-signup {
  width: 900px;
  margin: auto;
}

#login-signup fieldset {
  background-color: #33CEC3;
  border: 1px solid #dcdcdc;
  color: white;
  float: left;
  padding: 20px;
  margin: 16px;
  text-align: right;
  width: 300px;
  box-shadow: 0px 2px 8px 0px #000000;
}

#login-signup #login {
  padding-top: 40px;
  height: 172px;
}

#login-signup legend {
  width: 90px;
  background-color: #00877d;
  border: 1px solid #dcdcdc;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
}

#error-explanation {
  margin-top: 10px;
  text-align: left;
  color: #a00;
}

/* ------------------------ HOME -------------------- */
#checkin-form {
  margin: auto;
  width: 300px;
  position: relative;
}

.slider {
  width: 200px;
  margin: 5px ;
}

.priority {
  margin: 10px auto;
  position: relative;
}


