<h2> Checkin for <%= @checkin.created_at %> </h2>
<ul> 
  <li> 1. Sleep <%= @checkin.sleep %></li> 
  <li> 2. Nutrition <%= @checkin.nutrition %></li> 
  <li> 3. Exercise <%= @checkin.exercise %></li> 
  <li> ... </li> 
</ul>
