<form id="checkin-form" action="/#">
  <section class='priority'>
    1. Sleep <div class="slider"></div>
  </section>
  <section class='priority'>
    2. Nutrition <div class="slider"></div>
  </section>
  <section class='priority'>
    3. Exercise <div class="slider"></div>
  </section>
   <section class='priority'>
    4. Meditation <div class="slider"></div>
  </section>
   <section class='priority'>
    5. Love <div class="slider"></div>
  </section>
   <section class='priority'>
    6. Stuff <div class="slider"></div>
  </section>
  <section class='priority'>
    7. Work <div class="slider"></div>
  </section>
  <section class='priority'>
    8. Passion <div class="slider"></div>
  </section>
  <section class='priority'>
    9. Growth <div class="slider"></div>
  </section>
  <section class='priority'>
    10. Service <div class="slider"></div>
  </section>
  <input type='submit' value='Submit'>
</form>
