<div id='welcome'> 
  <% if current_user %> 
    <h3> Welcome <%= current_user.name %>! </h3>
  <% end %> 
</div> 

<form id="checkin-form" action="/#">
  <section class='priority'>
    1. Sleep <div id="sleep" class="slider"></div>
  </section>
  <section class='priority'>
    2. Nutrition <div id="nutrition" class="slider"></div>
  </section>
  <section class='priority'>
    3. Exercise <div id="exercise" class="slider"></div>
   </section>
   <section class='priority'>
    4. Meditation <div id="meditation" class="slider"></div>
  </section>
   <section class='priority'>
    5. Love <div id="love" class="slider"></div>
  </section>
   <section class='priority'>
    6. Stuff <div id="stuff" class="slider"></div>
  </section>
  <section class='priority'>
    7. Work <div id="work" class="slider"></div>
  </section>
  <section class='priority'>
    8. Passion <div id="passion" class="slider"></div>
  </section>
  <section class='priority'>
    9. Growth <div id="growth" class="slider"></div>
  </section>
  <section class='priority'>
    10. Service <div id="service" class="slider"></div>
  </section>
  <input id='submit-btn' type='submit' value='Create'>
</form>
