<form id="checkin-form">
  
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>
  <div class="slider"></div>

</form>
