  <div id='login-signup'>
    <fieldset id="login">
    <legend>Log in:</legend>
      <form action="/login" method="post" >
        <p>Email:
          <input type="text" name="email" placeholder="email@wherever.com">
        </p>
        <p>Password:
          <input type="password" name="password" placeholder="password">
        </p>
        <input type="submit" value="Log in">
      </form>
    </fieldset>
    <fieldset class='signup'>
    <legend>Sign up:</legend>
      <form action="/signup" method="post" >
        <p>Name:
          <input type="text" name="name" placeholder="Name">
        </p>
        <p>Email:
          <input type="text" name="email" placeholder="email@wherever.com">
        </p>
        <p>Password:
          <input type="password" name="password" placeholder="password">
        </p>
        <input type="submit" value="Sign up">
      </form>
      <%= erb :_errors, :locals => { :object => @user } if @user%>
    </fieldset>
  </div>



  
